@import "global.css";
@import "main.css";

.fa-row {
  background-color: var(--dominantColor) !important;
  padding: 20px;
}

.fa-row-icon {
  font-size: 80px;
  /* font-size: 200px; */
  color: #ffffff;
}

.first-paragraph-div {
  /*box-shadows: var(--boxshadow) !important;*/
  position: relative;
  background-color: #ffffff;
  color: var(--accentColor) !important;
  font-family: "Noto Serif Old Uyghur", serif;
  
  font-size: 24px;
  padding: 20px;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.first-paragraph-img {
  position: relative;
  float: left;
  padding-right: 0px;
}

@media (max-width: 900px) {
  .first-paragraph-img {
    width: 100%;
    float: none;
    padding-right: 0px;
  }
}

.cropped {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  border: 10px solid var(--accentColor) !important;
  clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
}

.card {
  margin: 15px;
}

.btn-isotope {
  color: #ffffff
  border-radius: 50px;
}

.fa-row-icon {
  font-size: 80px;
  color: #ffffff
  margin-bottom: 5px;
  margin-top: 10px;
}

.fa-row-icon:hover {
  transform: scale(1.1);
}

.fa-row a {
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
  position: relative;
}

.first-paragraph.div {
  /*box-shadow: var (--boxShadow) !important*/
  postition: relative;
  background-color: #ffffff;
  color: var(accentColor) !important;
  font-family: "dancing Script", cursive;
  font-size: 24px;
  padding: 20px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-paragraph-img {
  position: relative;
  float: left;
  padding-left: 18px;
}

@media (max-width: 900px) {
  .first-paragraph-img {
    width: 100px;
    float: none;
    padding-left: 0px;
  }
}